* {margin:0; padding:0; outline:0}
body {font:11px Verdana,Arial; margin:25px; background:#fff url(/images/bg.gif) repeat-x}
#tablewrapper {width:980px; margin:0 auto}
#tableheader {height:55px}
.search {float:left; padding:6px; border:1px solid #c6d5e1; background:#fff}
#tableheader select {float:left; font-size:12px; width:125px; padding:2px 4px 4px}
#tableheader input {float:left; font-size:12px; width:225px; padding:2px 4px 4px; margin-left:4px}
.details {float:right; padding-top:12px}
.details div {float:left; margin-left:15px; font-size:12px}
.tinytable {width:979px; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none}
.tinytable th {background:url(/images/header-bg.gif); text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.tinytable th h3 {font-size:10px; padding:6px 8px 8px}
.tinytable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.tinytable .head h3 {background:url(/images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .desc, .sortable .asc {background:url(/images/header-selected-bg.gif)}
.tinytable .desc h3 {background:url(/images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .asc h3 {background:url(/images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {color:#fff}
.tinytable .evenrow td {background:#fff}
.tinytable .oddrow td {background:#ecf2f6}
.tinytable td.evenselected {background:#ecf2f6}
.tinytable td.oddselected {background:#dce6ee}
.tinytable tfoot {background:#fff; font-weight:bold}
.tinytable tfoot td {padding:6px 8px 8px}
#tablefooter {height:15px; margin-top:20px}
#tablenav {float:left}
#tablenav img {cursor:pointer}
#tablenav div {float:left; margin-right:15px}
#tablelocation {float:right; font-size:12px}
#tablelocation select {margin-right:3px}
#tablelocation div {float:left; margin-left:15px}
.page {margin-top:2px; font-style:italic}
#selectedrow td {background:#c6d5e1}
.sticky {
  position: absolute;
  position: sticky;
  top: 20px;
  right: 0;
  float: right;
  padding: 80px;
  background: red;
  color: #fff;
  font-size: 30px;
}

.content {
  font-size: 25px;
  margin: 0 480px 0 0;
  text-align: justify;
}
header,
footer{
  background: cadetblue;
  color: #fff;
  font-size: 30px;
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
}
footer {
  padding: 200px 0;
}

#data {
	height:40px;
	/*border:1px solid red;*/
}
#data > div {
	/*border: 1px solid red;*/
	height:40px;
}

#data > div > #otdelenie {
	height:30px;
	margin-top:5px;
	margin-left:5px;
	width:250px;
}

#data > div > input {
	height:32px;
	margin-top:4px;
	width:70px;
	
}