<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>АРМ Охрана</title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
 <header>ОГБУЗ "Городская больница №2 г. Белгорода"</header>
	<div id="tablewrapper">
		<div id="tableheader">
        	<div class="search">
                <select id="columns" onchange="sorter.search('query')"></select>
                <input type="text" id="query" onkeyup="sorter.search('query')" />
            </div>
            <span class="details">
				<div>Показано <span id="startrecord"></span>-<span id="endrecord"></span> из <span id="totalrecords"></span></div>
        		<div><a href="javascript:sorter.reset()">Сбросить</a></div>
        	</span>
			
			<form action="" id="data" method="post">
				<div align="center">
        		<select id="otdelenie" name="otdelenie">
                <!--<option value=""></option>-->
                {{range .}}
				<option value="{{.Value}}" id="{{.Id}}" {{if eq .Selected .Value}}selected="selected"{{end}}>{{.Text}}</option>
                {{end}}
            </select>
     		<input type="submit" value="Открыть">
			</div>
			</form>
        </div>
<p></p>

<p></p>
        <table cellpadding="0" cellspacing="0" border="0" id="table" class="tinytable">
            <thead>
                <tr>
                    <th><h3>№ п/п</h3></th>
                    <th><h3>Фамилия</h3></th>
                    <th><h3>Имя</h3></th>
                    <th><h3>Отчество</h3></th>
					<th><h3>Дата поступления</h3></th>
					<th><h3>Палата</h3></th>
					<th><h3>Лечащий врач</h3></th>
                </tr>
            </thead>
            <tbody>