<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TinyTable</title>
<link rel="stylesheet" href="style.css" />
</head>
<body>
 <header>ОГБУЗ "Городская больница №2 г. Белгорода"</header>
	<div id="tablewrapper">
		<div id="tableheader">
        	<div class="search">
                <select id="columns" onchange="sorter.search('query')"></select>
                <input type="text" id="query" onkeyup="sorter.search('query')" />
            </div>
            <span class="details">
				<div>Records <span id="startrecord"></span>-<span id="endrecord"></span> of <span id="totalrecords"></span></div>
        		<div><a href="javascript:sorter.reset()">reset</a></div>
        	</span>
        </div>
<p></p>
<form action="/otdelenie" id="data" method="post">
<div align="center">
        <label for="release">Отделение: </label>
            <select id="otdelenie" name="otdelenie">
                <!--<option value=""></option>-->
                {{range .}}
                <option value="{{.Value}}" id="{{.Id}}">{{.Text}}</option>
                {{end}}
            </select>
     <input type="submit" value="Открыть">
	</div>
</form>
<p></p>
<!--		
        <table cellpadding="0" cellspacing="0" border="0" id="table" class="tinytable">
            <thead>



<!DOCTYPE HTML>
<html>
 <head>
 <script type="text/javascript" src="/js/sort.js"></script>
 <meta charset="utf8">
  <title>АРМ Охрана</title>
	<link href="/css/style2.css" rel="stylesheet">
 </head>
 <body>  
 <header>
	ОГБУЗ "Городская больница №2 г. Белгорода"
</header>
<p></p>
<form action="/otdelenie" id="data" method="post">
<div align="center">
        <label for="release">Отделение: </label>
            <select id="otdelenie" name="otdelenie">
                {{range .}}
                <option value="{{.Value}}" id="{{.Id}}">{{.Text}}</option>
                {{end}}
            </select>
     <input type="submit" value="Открыть">
	</div>
</form>
<p></p>
<table class="stats" cellspacing="0" align="center">
	<tr><td class="hed" colspan="4"> Тут будет заголовок отделения</td></tr>
	<tr><th>№ п/п</th><th>Фамилия</th><th>Имя</th><th>Отчество</th></tr>
-->